# Application Settings
APP_ENV=production
DEBUG=False
PORT=8000
CORS_ORIGINS=["https://weather-frontend-topaz-ten.vercel.app","http://localhost:5173","http://localhost:3000"]

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=ap-south-1
AWS_S3_BUCKET_NAME=inrisk-weather-data-raj

# Storage Mode: 's3' or 'local'
STORAGE_PROVIDER=s3

# External APIs
OPEN_METEO_BASE_URL=https://archive-api.open-meteo.com/v1/archive
